


.menu {
  height: 40px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px Solid Black;
}

.homePageContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homePageCards {
  border: 1px Solid Blue;
}